* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cormorant Unicase', serif;
}

.bg {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.container h1,
p {
    text-align: center;
}

p {
    font-size: 24px;
}

input,
textarea {
    display: block;
    border: 2px solid;
    border-radius: 6px;
    font-size: 16px;
    width: 80%;
    padding: 7px;
    margin: 11px auto;
}

.btn {
    color: white;
    background-color: darkolivegreen;
    padding: 4px 5px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 21px;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submitmsg {
    color: rgb(66, 1, 70);
    font-size: 20px;
}